@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-family: "MontserratRegular";
}

@font-face {
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
  font-family: "PlayfairDisplayRegular";
}

$FirstFont: 'Montserrat', sans-serif;
$SecondFont: 'Playfair Display', serif;